header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 3rem;
  background-color: rgb(255, 255, 255);

  nav ul {
    padding: 0;
  }

  nav li {
    display: inline-block;
    padding-left: 0;

    a {
      color: rgb(34, 34, 34);
      text-decoration: none;
    }
  }
}
