/* Heading styles */
h1,
h2,
h3,
h4 {
  font-family: "Roboto Mono", monospace;
}

h1.header,
h2.subheader {
  position: absolute;
  top: -4.5rem;
  left: -0.4rem;
  margin: 0;
}

h1.header {
  font-size: 7rem;
}

h2.subheader {
  font-size: 3rem;
  top: -2rem;
  left: -0.19rem;
}

h3 {
  font-size: 1.2rem;
}

/* Paragraph styles */
p {
  line-height: 1.5;
}

/* Anchor styles */
a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
  position: relative;
}

a.line-hover {
  display: block;
  color: rgb(34, 34, 34);
  text-decoration: none;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    background-color: #9bffde;
    z-index: -1;
    width: 0;
    height: 50%;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: all 0.3s;
  }

  &:hover,
  &:focus {
    &:before {
      width: 100%;
    }
  }
}
